<!DOCTYPE html>
<html>

<head>
  <title>Mailgun</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="home">
  <article class="textLeft" id="main">
    <img class="logo" src="images/mailgun.png">
    <h2>Sending a form</h2>
    <%= title %>
      <form action="form" method="POST" id="testForm" )>
        <div class="form-group">


          <label for="fullname">First name:</label>
          <input type="text" name="firstname" placeholder="Enter your first name" required>
          <br>

          <label for="lastname">Last name:</label>
          <input type="text" name="lastname" placeholder="Enter your last name">
          <br>
          <label for="dateofbirth">Date of Birth</label>
          <input type="date" name="dateofbirth" class="form">
          <br>
          <label for="email">Email address:</label>
          <input type="email" name="email" placeholder="name@example.com" required>
          <br>
          <label for="description">Enter your description:</label>
          <textarea name="description" rows="6" cols="55" required></textarea>
          <br>
          <button type="submit" name="submit" class="btn btn-primary">Submit</button>

        </div>


      </form>
  </article>
</body>

</html>